[submodule "backend"]
	path = backend
	url = https://github.com/gokulnathan66/music-recomendation-backend.git
[submodule "frontend"]
	path = frontend
	url = https://github.com/gokulnathan66/music-recommender-frontend.git
